# Project 2: Data Import - Working with Web APIs and JSON (Movies Dataset)

## Importing Data from JSON files

In [1]:
import pandas as pd
import json

In [3]:
with open("blockbusters.json") as f:
    data = json.load(f)

In [4]:
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [5]:
type(data)

list

In [6]:
#no of elements, no of dictionaries
len(data)
#in the file that was imported there are in total 18 movies

18

In [7]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

In [8]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
df = pd.read_json("blockbusters.json", orient = "record")
df
#orient is indication of  expected JSON string format
#for records
#list like [{column->value}]

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 712.0+ bytes

In [11]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [12]:
df.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

In [13]:
#normalize  semi structured json data into flat table
pd.json_normalize(data = data, sep = "_")
#flatted belongs to collection column into 4 columns

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [14]:
pd.json_normalize(data = data, sep = "_").genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [15]:
pd.json_normalize(data = data, record_path = "genres", meta = ["title", "id"],
                  record_prefix = "genre_")

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

In [16]:
#blockbuster2.json has column orientation
#blockbuster3.json has split orientation
#three major orientations
#record
#list like [{column->value}]
#always prefer record orientation for json
#best for loading json to pandas but require more memory
#columns
#dictionary like {column -> {index->value}}
#cannot flatten the data by normalization
#split
#dictionary like {index -> [index], columns -> [columns], data -> [values]}
#cannot flatten the data by normalization

## Working with APIs and JSON (Part 1)

In [17]:
api_key  = "api_key=c591b3dc831848cb20aec79309767999"

In [18]:
#example: assume your personal api-key is "123abc"
#api_key  = "api_key=123abc"
#api_key

In [19]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [20]:
movie_id = 140607

In [21]:
movie_api = "https://api.themoviedb.org/3/movie/{}?"
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [22]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=c591b3dc831848cb20aec79309767999'

In [23]:
r = requests.get(url)
r

In [24]:
data = r.json()

In [25]:
data

{'adult': False,
 'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 71.169,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1634,
   'logo_path': None,
   'name': 'Truenorth Productions',
   'origin_country': 'IS'},
  {'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.4,
 'vote_count': 15179}

In [26]:
type(data)

dict

In [27]:
#pd.DataFrame(data)
#it did not work because there is only row of dataframe

In [28]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          71.169
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1634, 'logo_path': None, 'name': 'True...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                           7.4
vote_count                                                           15179
dtype: object

In [29]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.169,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,15179

In [30]:
pd.json_normalize(data, sep = "_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.169,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,15179,10,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [31]:
pd.json_normalize(data = data, record_path = "genres", meta = "title")

    id             name                         title
0   28           Action  Star Wars: The Force Awakens
1   12        Adventure  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [32]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title")

,id,logo_path,name,origin_country,title
0,1634,None,Truenorth Productions,IS,Star Wars: The Force Awakens
1,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
2,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

## Working with APIs and JSON (Part 2)

In [33]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [34]:
discover_api = "https://api.themoviedb.org/3/discover/movie?"

In [35]:
#get movies with release date january,2020 and february 2020
#page parameter can be changed as choice by default is 1 
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29&page=2"

In [36]:
url = discover_api+api_key+query

In [37]:
data = requests.get(url).json()

In [38]:
data

{'page': 2,
 'results': [{'adult': False,
   'backdrop_path': '/5i9G9oQdnshtpgJpa7HEGdvjza7.jpg',
   'genre_ids': [10402, 10749, 10770],
   'id': 599521,
   'original_language': 'en',
   'original_title': 'Z-O-M-B-I-E-S 2',
   'overview': 'Zed and Addison are back at Seabrook High, where, after a groundbreaking semester, they continue to steer both their school and community toward unity. But the arrival of a new group of outsiders – mysterious werewolves – threatens to shake up the newfound peace and causes a rift in Zed and Addison’s budding romance.',
   'popularity': 80.44,
   'poster_path': '/frTwEqSMWQ27oQeuiBO5PT0ZNqq.jpg',
   'release_date': '2020-02-14',
   'title': 'Z-O-M-B-I-E-S 2',
   'video': False,
   'vote_average': 8.2,
   'vote_count': 321},
  {'adult': False,
   'backdrop_path': '/jZ6NrikuKX1Wby0EeT91BVDv45o.jpg',
   'genre_ids': [16, 12, 28, 10751],
   'id': 657561,
   'original_language': 'en',
   'original_title': 'The Wishmas Tree',
   'overview': "A young possum's misguided wish for a white Wishmas not only freezes her entire hometown of Sanctuary City, but also threatens the lives of all who live there. Before the magical Wishmas Tree dies, she must undertake a perilous journey into the WILD; battling self-doubt, ghostly predators and ultimately, Extinction itself, to reverse the damage she has caused and save her city.",
   'popularity': 80.373,
   'poster_path': '/90eStEGcL7tb65UU6ptMaG2PtIp.jpg',
   'release_date': '2020-02-27',
   'title': 'The Wishmas Tree',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 41},
  {'adult': False,
   'backdrop_path': '/p6ExERRwodksg0fFKzCjmNCR6Hw.jpg',
   'genre_ids': [53],
   'id': 531299,
   'original_language': 'en',
   'original_title': 'Kill Chain',
   'overview': 'A hotel room shootout between two assassins kicks off a long night where bodies fall like dominoes, as we follow a chain of crooked cops, gangsters, hitmen, a femme Fatale and an ex-mercenary through a relay of murder, betrayal, revenge and redemption.',
   'popularity': 80.122,
   'poster_path': '/wy0Xs5mGtD92PyKvsl0lxzbzscG.jpg',
   'release_date': '2020-02-20',
   'title': 'Kill Chain',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 50},
  {'adult': False,
   'backdrop_path': '/xRKwiUHGnsZGxZaO6OIKqpzJjPa.jpg',
   'genre_ids': [28, 53],
   'id': 466622,
   'original_language': 'en',
   'original_title': 'The Rhythm Section',
   'overview': 'After the death of her family in an airplane crash on a flight that she was meant to be on, Stephanie Patrick discovers the crash was not an accident. She then seeks to uncover the truth by adapting the identity of an assassin to track down those responsible.',
   'popularity': 78.977,
   'poster_path': '/spTr0VYyRtl36Lkk6nCnnbFXhus.jpg',
   'release_date': '2020-01-31',
   'title': 'The Rhythm Section',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 266},
  {'adult': False,
   'backdrop_path': '/8xItDmrhT6iaBMeKWXlr8flYA0i.jpg',
   'genre_ids': [27, 28, 878],
   'id': 614208,
   'original_language': 'en',
   'original_title': 'Stairs',
   'overview': 'Special ops squad "Hell\'s Bastards" are sent to infiltrate a civil war to retrieve intel. The unit soon find themselves trapped on a never-ending stairwell forced to climb or die. To survive, they must revisit their past sins if they ever want to get off.',
   'popularity': 78.131,
   'poster_path': '/e1VAPD49YIrMnN7bRBS6ZPiNrUS.jpg',
   'release_date': '2020-02-14',
   'title': 'Stairs',
   'video': False,
   'vote_average': 5.7,
   'vote_count': 9},
  {'adult': False,
   'backdrop_path': '/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg',
   'genre_ids': [18, 53],
   'id': 505225,
   'original_language': 'en',
   'original_title': 'The Last Thing He Wanted',
   'overview': 'At the turning point of the Iran-Contra affair, Elena McMahon, a fearless investigative journalist covering the 1984 US presidential campaign, puts herself in danger when she abandons her assigned task in order to fulfill the last wish of her ailing father, a mysterious man whose past activities she barely knows.',
   'popularity': 77.214,
   'poster_path': '/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg',
   'release_date': '2020-02-14',
   'title': 'The Last Thing He Wanted',
   'video': False,
   'vote_average': 4.9,
   'vote_count': 276},
  {'adult': False,
   'backdrop_path': '/ie7V5BumaRYlHate2OvCzF6eIib.jpg',
   'genre_ids': [14, 12, 10751],
   'id': 399363,
   'original_language': 'en',
   'original_title': 'Wendy',
   'overview': 'A re-imagining of "Peter Pan" from the point of view of Wendy Darling, who finds herself lost on a mysterious island where aging and time have come unglued. She must fight to save her family, her freedom and the joyous spirit of youth.',
   'popularity': 77.067,
   'poster_path': '/nphsStbtAuJ2IaXtCvDXDwMUF5N.jpg',
   'release_date': '2020-02-28',
   'title': 'Wendy',
   'video': False,
   'vote_average': 6.4,
   'vote_count': 50},
  {'adult': False,
   'backdrop_path': '/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg',
   'genre_ids': [28, 80, 35],
   'id': 522627,
   'original_language': 'en',
   'original_title': 'The Gentlemen',
   'overview': 'American expat Mickey Pearson has built a highly profitable marijuana empire in London. When word gets out that he’s looking to cash out of the business forever it triggers plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.',
   'popularity': 76.152,
   'poster_path': '/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg',
   'release_date': '2020-01-01',
   'title': 'The Gentlemen',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2328},
  {'adult': False,
   'backdrop_path': '/uehwVV9xuALZ2SXeHGiX4Ay5dR7.jpg',
   'genre_ids': [28, 16, 878],
   'id': 618355,
   'original_language': 'en',
   'original_title': 'Superman: Red Son',
   'overview': 'Set in the thick of the Cold War, Red Son introduces us to a Superman who landed in the USSR during the 1950s and grows up to become a Soviet symbol that fights for the preservation of Stalin’s brand of communism.',
   'popularity': 75.767,
   'poster_path': '/FVU9HZ87VfYMe5vIJvM3hFTG5i.jpg',
   'release_date': '2020-02-24',
   'title': 'Superman: Red Son',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 502},
  {'adult': False,
   'backdrop_path': '/hhqeCsv1zUXYA0UIf8tUBhNQqFq.jpg',
   'genre_ids': [10752],
   'id': 662334,
   'original_language': 'en',
   'original_title': 'Chaco',
   'overview': "In 1934, Bolivia is at war with Paraguay. Liborio and Ticona and other Bolivian indigenous soldiers are lost in the hell of the Chaco, under the commandment of German Captain Kundt. They're looking for the Paraguayan enemy that they haven't seen for months, and that they will never find. They leave together in a search that will make them realize, progressively, the destiny they have been pushed into and the inevitable condition of a defeated troop. They're walking like shadows, wandering forever in the middle of dust and silence.",
   'popularity': 75.372,
   'poster_path': '/hCR2i9rK6P4VHMfFw2MT5jDGJcN.jpg',
   'release_date': '2020-01-28',
   'title': 'Chaco',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 37},
  {'adult': False,
   'backdrop_path': '/g9FXX01Us3rW8jhOAPWpgO6KnX9.jpg',
   'genre_ids': [10751, 9648, 35, 14],
   'id': 550440,
   'original_language': 'en',
   'original_title': 'Timmy Failure: Mistakes Were Made',
   'overview': 'An 11-year old boy believes that he is the best detective in town and runs the agency Total Failures with his best friend, an imaginary 1,200 pound polar bear.',
   'popularity': 73.141,
   'poster_path': '/9Ic99kyJewgPHwl4JftJSwzUmtD.jpg',
   'release_date': '2020-01-25',
   'title': 'Timmy Failure: Mistakes Were Made',
   'video': False,
   'vote_average': 6.1,
   'vote_count': 99},
  {'adult': False,
   'backdrop_path': '/bFxGD1TKrJq3Dr5Pjnn739gBhQF.jpg',
   'genre_ids': [10751, 28, 35],
   'id': 592834,
   'original_language': 'en',
   'original_title': 'My Spy',
   'overview': 'A hardened CIA operative finds himself at the mercy of a precocious 9-year-old girl, having been sent undercover to surveil her family.',
   'popularity': 70.98,
   'poster_path': '/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg',
   'release_date': '2020-01-09',
   'title': 'My Spy',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 638},
  {'adult': False,
   'backdrop_path': '/h5sUE9jqoYrjsFjANJXL0gpZGye.jpg',
   'genre_ids': [28, 53, 27],
   'id': 624779,
   'original_language': 'en',
   'original_title': 'VFW',
   'overview': 'A typical night for veterans at a VFW turns into an all-out battle for survival when a desperate teen runs into the bar with a bag of stolen drugs. When a gang of violent punks come looking for her, the vets use every weapon at their disposal to protect the girl and themselves from an unrelenting attack.',
   'popularity': 70.358,
   'poster_path': '/AnVD7Gn14uOTQhcc5xYZGQ9DRvS.jpg',
   'release_date': '2020-02-14',
   'title': 'VFW',
   'video': False,
   'vote_average': 6,
   'vote_count': 85},
  {'adult': False,
   'backdrop_path': '/acn3EvzRF0UjJqyDbsN4k3odaxd.jpg',
   'genre_ids': [28],
   'id': 484664,
   'original_language': 'de',
   'original_title': 'Marlene',
   'overview': 'Frank is a contract killer working for a large Styrian crime syndicate. When he is given the task of abducting a girl named Marlene and delivering her to the syndicate, everything changes for Frank. He falls in love with Marlene and disobeys his superiors, who in turn take matters into their own hands and abduct Marlene themselves. Now Frank has to battle the blunt forces of the syndicate in order to save Marlene.',
   'popularity': 67.826,
   'poster_path': '/3Ddek3KMjKEpO8FBGwfez6myCq9.jpg',
   'release_date': '2020-01-22',
   'title': 'Marlene',
   'video': False,
   'vote_average': 6.4,
   'vote_count': 26},
  {'adult': False,
   'backdrop_path': '/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg',
   'genre_ids': [35, 53, 80],
   'id': 609242,
   'original_language': 'es',
   'original_title': 'El robo del siglo',
   'overview': 'In 2006, a group of thieves performed what is considered one of the most famous and smart bank heists in the history of Argentina. How they robbed the Rio bank is as surprising as what happened afterwards. This is their story.',
   'popularity': 64.632,
   'poster_path': '/xdKJ6LdA65RFxjNYIL8fV89Tv0d.jpg',
   'release_date': '2020-01-16',
   'title': 'The Heist of the Century',
   'video': False,
   'vote_average': 8,
   'vote_count': 442},
  {'adult': False,
   'backdrop_path': '/k9eB7x1BcSKj5P8Z0bnwrD6NoHa.jpg',
   'genre_ids': [18, 28],
   'id': 566397,
   'original_language': 'ko',
   'original_title': '남산의 부장들',
   'overview': 'In the 1970s, Korea is under the absolute control of the President Park who controls the KCIA, the organization with an edge over any branch of government. The director of KCIA, KIM Gyu-pyeong, is the seemingly most prospective second-in-command. In the midst of reign of fear, a former KCIA director, PARK Yong-gak who knows all about the government’s obscure operations, exiles to the U.S. where the investigation of ‘Koreagate’ is underway. As the tension escalates, the stifling political maneuvering by the all second-in-command’s unfolds.',
   'popularity': 64.631,
   'poster_path': '/rXvGB9uDdpg1vq1UKLgfdBR6KQe.jpg',
   'release_date': '2020-01-22',
   'title': 'The Man Standing Next',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 32},
  {'adult': False,
   'backdrop_path': '/x9XxikEHUunF1jXOckbghLi6CX.jpg',
   'genre_ids': [14, 12, 35],
   'id': 520725,
   'original_language': 'fr',
   'original_title': 'Le prince oublié',
   'overview': 'Djibi lives alone with Sofia, his 8-year-old daughter. Every night, he invents a story to put him to sleep. When Sofia falls asleep, these extraordinary stories come to life somewhere in an imaginary world inhabited by knights, pirates and other dragons. In this world that belongs only to them, Sofia is always the princess to save, and the brave Prince is none other than Djibi himself.  But 3 years later, the entry of Sofia to the college will mark the end of her childhood. To the despair of her father, she no longer needs her stories at night. On the one hand, Djibi will have to accept that his daughter will grow up and move away from him. On the other hand, in the World of Stories, the Prince will have to face the most epic of all his adventures. Find your destiny in a world where it no longer has a place.',
   'popularity': 62.035,
   'poster_path': '/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg',
   'release_date': '2020-02-12',
   'title': 'The Lost Prince',
   'video': False,
   'vote_average': 5.8,
   'vote_count': 180},
  {'adult': False,
   'backdrop_path': '/hFjNtwg7TIvkyBtk8OasJppNHTu.jpg',
   'genre_ids': [12, 16, 35, 14, 10751],
   'id': 674942,
   'original_language': 'el',
   'original_title': 'Homeward',
   'overview': 'A boastful elf and his prank-happy orc brother must learn to work together to stop a fiendish orc gang from retrieving a magical stone that will give them the power to take over the world.',
   'popularity': 60.597,
   'poster_path': '/eBfo1wKsE6qIbhKMFg2gJbG2QAt.jpg',
   'release_date': '2020-02-25',
   'title': 'Homeward',
   'video': False,
   'vote_average': 3.6,
   'vote_count': 9},
  {'adult': False,
   'backdrop_path': '/p9tdFuUe1Xc9YYMmPcqMczttnvG.jpg',
   'genre_ids': [16, 35, 28, 12, 10751],
   'id': 550738,
   'original_language': 'fr',
   'original_title': 'Spycies',
   'overview': 'Vladimir and Hector, two secret agents opposed in every way, are trying to recover a top secret material stolen by unknown intruders.',
   'popularity': 60.218,
   'poster_path': '/jOY3dDCzjygXzumYeJ9UIyETzuj.jpg',
   'release_date': '2020-01-11',
   'title': 'Spycies',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 147},
  {'adult': False,
   'backdrop_path': '/6B4USIsKWrJmiaVgEYYHqce1SmK.jpg',
   'genre_ids': [28, 35],
   'id': 591237,
   'original_language': 'en',
   'original_title': 'Bulletproof 2',
   'overview': 'Special Agent Jack Carter reluctantly assumes the identity of criminal Archie Moses to take down a powerful South African crime family. But when the real Moses is put in danger, he and Carter must work together to foil the scheme for good.',
   'popularity': 59.72,
   'poster_path': '/uGILkFnRrpdiNtDaHeekGZSn5o5.jpg',
   'release_date': '2020-01-07',
   'title': 'Bulletproof 2',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 66}],
 'total_pages': 170,
 'total_results': 3385}

In [39]:
#convert into dataframe
pd.DataFrame(data)

,page,results,total_pages,total_results
0,2,"{'adult': False, 'backdrop_path': '/5i9G9oQdns...",170,3385
1,2,"{'adult': False, 'backdrop_path': '/jZ6NrikuKX...",170,3385
2,2,"{'adult': False, 'backdrop_path': '/p6ExERRwod...",170,3385
3,2,"{'adult': False, 'backdrop_path': '/xRKwiUHGns...",170,3385
4,2,"{'adult': False, 'backdrop_path': '/8xItDmrhT6...",170,3385
5,2,"{'adult': False, 'backdrop_path': '/lsgYcIbcoQ...",170,3385
6,2,"{'adult': False, 'backdrop_path': '/ie7V5BumaR...",170,3385
7,2,"{'adult': False, 'backdrop_path': '/tintsaQ0WL...",170,3385
8,2,"{'adult': False, 'backdrop_path': '/uehwVV9xuA...",170,3385
9,2,"{'adult': False, 'backdrop_path': '/hhqeCsv1zU...",170,3385
10,2,"{'adult': False, 'backdrop_path': '/g9FXX01Us3...",170,3385
11,2,"{'adult': False, 'backdrop_path': '/bFxGD1TKrJ...",170,3385
12,2,"{'adult': False, 'backdrop_path': '/h5sUE9jqoY...",170,3385
13,2,"{'adult': False, 'backdrop_path': '/acn3EvzRF0...",170,3385
14,2,"{'adult': False, 'backdrop_path': '/1umKVgbjFG...",170,3385
15,2,"{'adult': False, 'backdrop_path': '/k9eB7x1BcS...",170,3385
16,2,"{'adult': False, 'backdrop_path': '/x9XxikEHUu...",170,3385
17,2,"{'adult': False, 'backdrop_path': '/hFjNtwg7TI...",170,3385
18,2,"{'adult': False, 'backdrop_path': '/p9tdFuUe1X...",170,3385
19,2,"{'adult': False, 'backdrop_path': '/6B4USIsKWr...",170,3385

In [40]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5i9G9oQdnshtpgJpa7HEGdvjza7.jpg,"[10402, 10749, 10770]",599521,en,Z-O-M-B-I-E-S 2,"Zed and Addison are back at Seabrook High, whe...",80.440,/frTwEqSMWQ27oQeuiBO5PT0ZNqq.jpg,2020-02-14,Z-O-M-B-I-E-S 2,False,8.2,321
1,False,/jZ6NrikuKX1Wby0EeT91BVDv45o.jpg,"[16, 12, 28, 10751]",657561,en,The Wishmas Tree,A young possum's misguided wish for a white Wi...,80.373,/90eStEGcL7tb65UU6ptMaG2PtIp.jpg,2020-02-27,The Wishmas Tree,False,6.9,41
2,False,/p6ExERRwodksg0fFKzCjmNCR6Hw.jpg,[53],531299,en,Kill Chain,A hotel room shootout between two assassins ki...,80.122,/wy0Xs5mGtD92PyKvsl0lxzbzscG.jpg,2020-02-20,Kill Chain,False,5.9,50
3,False,/xRKwiUHGnsZGxZaO6OIKqpzJjPa.jpg,"[28, 53]",466622,en,The Rhythm Section,After the death of her family in an airplane c...,78.977,/spTr0VYyRtl36Lkk6nCnnbFXhus.jpg,2020-01-31,The Rhythm Section,False,5.6,266
4,False,/8xItDmrhT6iaBMeKWXlr8flYA0i.jpg,"[27, 28, 878]",614208,en,Stairs,"Special ops squad ""Hell's Bastards"" are sent t...",78.131,/e1VAPD49YIrMnN7bRBS6ZPiNrUS.jpg,2020-02-14,Stairs,False,5.7,9
5,False,/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg,"[18, 53]",505225,en,The Last Thing He Wanted,At the turning point of the Iran-Contra affair...,77.214,/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg,2020-02-14,The Last Thing He Wanted,False,4.9,276
6,False,/ie7V5BumaRYlHate2OvCzF6eIib.jpg,"[14, 12, 10751]",399363,en,Wendy,"A re-imagining of ""Peter Pan"" from the point o...",77.067,/nphsStbtAuJ2IaXtCvDXDwMUF5N.jpg,2020-02-28,Wendy,False,6.4,50
7,False,/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg,"[28, 80, 35]",522627,en,The Gentlemen,American expat Mickey Pearson has built a high...,76.152,/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg,2020-01-01,The Gentlemen,False,7.7,2328
8,False,/uehwVV9xuALZ2SXeHGiX4Ay5dR7.jpg,"[28, 16, 878]",618355,en,Superman: Red Son,"Set in the thick of the Cold War, Red Son intr...",75.767,/FVU9HZ87VfYMe5vIJvM3hFTG5i.jpg,2020-02-24,Superman: Red Son,False,7.4,502
9,False,/hhqeCsv1zUXYA0UIf8tUBhNQqFq.jpg,[10752],662334,en,Chaco,"In 1934, Bolivia is at war with Paraguay. Libo...",75.372,/hCR2i9rK6P4VHMfFw2MT5jDGJcN.jpg,2020-01-28,Chaco,False,7.8,37
10,False,/g9FXX01Us3rW8jhOAPWpgO6KnX9.jpg,"[10751, 9648, 35, 14]",550440,en,Timmy Failure: Mistakes Were Made,An 11-year old boy believes that he is the bes...,73.141,/9Ic99kyJewgPHwl4JftJSwzUmtD.jpg,2020-01-25,Timmy Failure: Mistakes Were Made,False,6.1,99
11,False,/bFxGD1TKrJq3Dr5Pjnn739gBhQF.jpg,"[10751, 28, 35]",592834,en,My Spy,A hardened CIA operative finds himself at the ...,70.980,/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg,2020-01-09,My Spy,False,7.1,638
12,False,/h5sUE9jqoYrjsFjANJXL0gpZGye.jpg,"[28, 53, 27]",624779,en,VFW,A typical night for veterans at a VFW turns in...,70.358,/AnVD7Gn14uOTQhcc5xYZGQ9DRvS.jpg,2020-02-14,VFW,False,6.0,85
13,False,/acn3EvzRF0UjJqyDbsN4k3odaxd.jpg,[28],484664,de,Marlene,Frank is a contract killer working for a large...,67.826,/3Ddek3KMjKEpO8FBGwfez6myCq9.jpg,2020-01-22,Marlene,False,6.4,26
14,False,/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg,"[35, 53, 80]",609242,es,El robo del siglo,"In 2006, a group of thieves performed what is ...",64.632,/xdKJ6LdA65RFxjNYIL8fV89Tv0d.jpg,2020-01-16,The Heist of the Century,False,8.0,442
15,False,/k9eB7x1BcSKj5P8Z0bnwrD6NoHa.jpg,"[18, 28]",566397,ko,남산의 부장들,"In the 1970s, Korea is under the absolute cont...",64.631,/rXvGB9uDdpg1vq1UKLgfdBR6KQe.jpg,2020-01-22,The Man Standing Next,False,6.6,32
16,False,/x9XxikEHUunF1jXOckbghLi6CX.jpg,"[14, 12, 35]",520725,fr,Le prince oublié,"Djibi lives alone with Sofia, his 8-year-old d...",62.035,/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg,2020-02-12,The Lost Prince,False,5.8,180
17,False,/hFjNtwg7TIvkyBtk8OasJppNHTu.jpg,"[12, 16, 35, 14, 10751]",674942,el,Homeward,A boastful elf and his prank-happy orc brother...,60.597,/eBfo1wKsE6qIbhKMFg2gJbG2QAt.jpg,2020-02-25,Homeward,False,3.6,9
18,False,/p9tdFuUe1Xc9YYMmPcqMczttnvG.jpg,"[16, 35, 28, 12, 10751]",550738,fr,Spycies,"Vladimir and Hector, two secret agents opposed...",60.218,/jOY3dDCzjygXzumYeJ9UIyETzuj.jpg,2020-01-11,Spycies,False,7.9,147
19,False,/6B4USIsKWrJmiaVgEYYHqce1SmK.jpg,"[28, 35]",591237,en,Bulletproof 2,Special Agent Jack Carter reluctantly assumes ...,59.720,/uGILkFnRrpdiNtDaHeekGZSn5o5.jpg,2020-01-07,Bulletproof 2,False,7.2,66

##  Importing and Saving the Movies Dataset (Best Practice)

In [41]:
import pandas as pd
import requests
import json
pd.options.display.max_columns = 30

In [43]:
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [44]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [45]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)#replace placeholder in basic-url
    r = requests.get(url)#response object
    if r.status_code != 200: # data is available if status code is 200
        continue#status code not equal to 200 - stop the iteration and go to the next movie id
    else:
        data = r.json()
        json_list.append(data) 
df = pd.DataFrame(json_list)

In [46]:
requests.get(basic_url.format(0, api_key)).status_code #404 no data available

404

In [47]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,172.170,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2797800564,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Part of the journey is the end.,Avengers: Endgame,False,8.3,15924
1,False,/AmHOQ7rpHwiaUMRjKXztnauSJb7.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",71.479,/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2787965087,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the World of Pandora.,Avatar,False,7.5,22482
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.169,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,15179
3,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,186.295,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,20352
4,False,/yDI6D5ZQh67YU4r2ms8qcSbAviZ.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,65.382,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.9,18179
5,False,/yOCRqvrRrxbs5FYq2pX1KtLJwmR.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,65.699,/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-06,1671713208,124,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is open.,Jurassic World,False,6.6,16268
6,False,/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",141.648,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1656943394,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The King has Returned.,The Lion King,False,7.2,7146
7,False,/kwUQFeFXOOpgloMgZaadhzkbTI4.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,95.649,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1519557910,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.7,23581
8,False,/vkQvqH8WQkUiNklDcbUtHEUgSNQ.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.furious7.com/,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,71.755,/ktofZ9Htrjiy0P6LEowsDaxd3Ri.jpg,"[{'id': 87857, 'logo_path': None, 'name': 'Abu...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-01,1515047671,137,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Vengeance Hits Home,Furious 7,False,7.3,7939
9,False,/8i6ZDk97Vyh0jHohMG4vFeFuKJh.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,72.201,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,16901
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,None,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/224/black_panther,284054,tt1825683,en,Black Panther,King T'Challa returns home from America to the...,79.669,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1346739107,134,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.4,16430
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",99.109,/da22ZBmrDOXOCDRvr8Gic8ldhv4.jpg,"[{'id': 174, 'logo_path': '/ky0xOc5OrhzkZ1N6Ky...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.1,14797
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,85.947,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332539889,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,6.9,11310
13,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",221.249,/qXsndsv3WOoxszmdlvTWeY688eK.jpg,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450026933,104,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.3,6577
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,73.117,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1303459585,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone,Jurassic World: Fallen Kingdom,False,6.6,8407
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,69.735,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-27,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.3,12624
16,False,/m3tdSyl11fhgXPDSEt3aBctTqGP.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,49.660,/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,"[{'id': 10227, 'logo_path': '/3YfRy3DBl4abcqkz...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Be our guest.,Beauty and the Beast,False,7.0,13003
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,72.324,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Back to work.,Incredibles 2,False,7.5,9374

In [48]:
#overwrite df, sort revenue by high to low
df = df.loc[:, ["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                ascending = False)

In [49]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [50]:
#save and store our dataset
#export it to a json file
#best to handle nested data
df.to_json("movies.json", orient = "records")

In [51]:
with open("movies.json") as f:
    data = json.load(f)

In [52]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/syGPZuzcHBBHMLiNDN0x0Tms4Fk.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,762512.0,The Lion King (Reboot) Collection,None,None,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/zQdytnqfsWKJlqazqfMBL2L7aql.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/amWQdidtqNey3e6E74xwYUZ8CJb.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,NaN,NaN,NaN,NaN,NaN
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
13,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/amWQdidtqNey3e6E74xwYUZ8CJb.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/vWrv5Hu4TtJD1ah8XAJjZwoY86c.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [53]:
pd.json_normalize(data, "genres", "title")

       id             name                                         title
0      12        Adventure                             Avengers: Endgame
1     878  Science Fiction                             Avengers: Endgame
2      28           Action                             Avengers: Endgame
3      28           Action                                        Avatar
4      12        Adventure                                        Avatar
5      14          Fantasy                                        Avatar
6     878  Science Fiction                                        Avatar
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      28           Action                  Star Wars: The Force Awakens
10     12        Adventure                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     28           Action                                Jurassic World
17     12        Adventure                                Jurassic World
18    878  Science Fiction                                Jurassic World
19     53         Thriller                                Jurassic World
20     12        Adventure                                 The Lion King
21  10751           Family                                 The Lion King
22  10402            Music                                 The Lion King
23    878  Science Fiction                                  The Avengers
24     28           Action                                  The Avengers
25     12        Adventure                                  The Avengers
26     28           Action                                     Furious 7
27     53         Thriller                                     Furious 7
28     16        Animation                                     Frozen II
29  10751           Family                                     Frozen II
30     12        Adventure                                     Frozen II
31     35           Comedy                                     Frozen II
32     14          Fantasy                                     Frozen II
33     28           Action                       Avengers: Age of Ultron
34     12        Adventure                       Avengers: Age of Ultron
35    878  Science Fiction                       Avengers: Age of Ultron
36     28           Action                                 Black Panther
37     12        Adventure                                 Black Panther
38     14          Fantasy                                 Black Panther
39    878  Science Fiction                                 Black Panther
40     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
41     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
42    878  Science Fiction                      Star Wars: The Last Jedi
43     28           Action                      Star Wars: The Last Jedi
44     12        Adventure                      Star Wars: The Last Jedi
45     28           Action                Jurassic World: Fallen Kingdom
46     12        Adventure                Jurassic World: Fallen Kingdom
47    878  Science Fiction                Jurassic World: Fallen Kingdom
48     16        Animation                                        Frozen
49     12        Adventure                                        Frozen
50  10751           Family                                        Frozen
51  10751           Family                          Beauty and the Beast
52     14          Fantasy                          Beauty and the Beast
53  10749          Romance                          Beauty and the Beast
54     28           Action                                 Incredibles 2
55     12        Adventure                                 Incredibles 2
56     16        Animation                                 Incredibles 2
57  10751           Family                                 Incredibles 2

# Importing and Saving the Movies Dataset (Real World Scenario)

In [54]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [55]:
df.to_csv("movies_raw.csv", index = False)
#good at handling tabular data 
#pretty limited for handling nested data

In [56]:
df = pd.read_csv("movies_raw.csv")

In [57]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
11,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,134
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
13,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [58]:
df.genres[0]
#it is not a list but a string

"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]"